# demo
demo.html

# folder
/stanford-corenlp-4.3.2
/test
/range_slider

# code
extract_animal_name.py
make_animal_list_from_wiki.py
ner.py

# data
id_animal.csv
id_title_content_animal.csv
id_title_content.csv
list_animal.pickle
list_animal.txt
.DS_Store